html, body {
    height: 100%;
}

/* Небольшие устройства (планшеты, 768px и выше) */  
@media (min-width: 768px) { 
    #sidebar {
        width: 100%;
        height: 100%;
    }
}

/* Большие устройства (992px и выше) */  
@media (min-width: 992px) { 

}

#sidebar {
    z-index: 1000;
    /* position: fixed; */
    /* left: 250px; */
    width: 100%;
    /* padding-top: 11px; */
    /* height: calc(100vh - 58px); */
    height: 100%;
    margin-left: -2px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    /* background-color: #263238; */
    font-size: 20px;
    height: 52px;
    text-align: center;
}

#sidebar header a {
    /* color: #455A64; */
    color: #CFD8DC;
    display: block;
    text-decoration: none;
}

#sidebar header a:hover {
    color: #e61767;
}

#sidebar .nav li{
    display: inline-block;
    width: 100%;
}

#sidebar .nav a{
    display: inline-block;
    background: none;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 16px;
    padding: 15px 20px;
    width: 100%;
}

#sidebar .nav a:hover{
    background: none;
    color: #e61767;
}

#sidebar .nav a i{
    margin-right: 16px;
}

.post-preview {
    min-height: 220px;
}

.post-preview-text {
    overflow: hidden;
}

.list3a {
    padding:0;
    list-style: none;
    counter-reset: li;
}    
.list3a li {
    position: relative;
    border-left: 4px solid #337AB7;
    padding:16px 20px 16px 28px;
    margin:12px 0 12px 80px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.list3a li:before {
    line-height: 32px;
    position: absolute;
    top: 10px;
    left:-80px;
    width:80px;
    text-align:center;
    font-size: 24px;
    font-weight: bold;
    color: #77AEDB;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}
.list3a li:hover:before {
    color: #337AB7;
}
.list3a li:after {
    position: absolute;
    top: 26px;
    left: -40px;
    width: 60px;
    height: 60px;
    border: 8px solid #3399FF;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.1);
    transform: translateX(-50%) translateY(-50%) scale(0.1);
    pointer-events: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;        
}
.list3a li:hover:after {
    opacity: 0.2;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}