<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marlyas Coocking Blog</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" defer>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" defer>
    <link rel="stylesheet" type="text/css" href="css/material-design-iconic-font.min.css" defer>
    <script type="text/javascript" src="js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="js/popper-1.14.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
        <a class="navbar-brand p-0 m-0 col-lg-3 col-md-4 col-sm-3 col-10" href="#">
            <img src="images/cat.gif" width="60" height="60" class="d-inline-block mr-2" alt="">
            Marlya's cooking
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Рецепты</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="users.html">Повара и поварята</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacts.html">Контакты</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="search-input-block col-12 col-sm-12 col-md-8 col-lg-8 p-0 pr-md-2">
                    <input class="search-input form-control my-2 my-lg-2 mr-lg-2 mb-sm-2 w-100" type="search" placeholder="Поиск" aria-label="Search">
                </div>
                <div class="search-button-block col-12 col-sm-12 col-md-4 col-lg-4 p-0">
                    <button class="search-button btn btn-outline-primary my-0 my-lg-2 w-100" type="submit">Поиск</button>
                </div>
            </form>
        </div>
    </nav>
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <!-- Sidebar -->
                <div id="sidebar" class="col">
                    <ul class="nav">
                        <li>
                            <a href="index.html?type=breakfasts">
                                <i class="zmdi zmdi-coffee"></i>Завтраки
                            </a>
                        </li>
                        <li>
                            <a href="index.html?type=dinners">
                                <i class="zmdi zmdi-local-dining"></i>Вторые блюда
                            </a>
                        </li>
                        <li>
                            <a href="index.html?type=salads">
                                <i class="zmdi zmdi-pizza"></i>Закуски и Салаты
                            </a>
                        </li>
                        <li>
                            <a href="index.html?type=cocktails">
                                <i class="zmdi zmdi-cocktail"></i>Коктейли
                            </a>
                        </li>
                        <li>
                            <a href="index.html?type=drinks">
                                <i class="zmdi zmdi-drink"></i>Горячие напитки
                            </a>
                        </li>
                        <li>
                            <a href="index.html?type=cakes">
                                <i class="zmdi zmdi-cake"></i>Десерты
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 p-3">
                <div class="row px-3">
                    <div class="d-inline-block col-sm-12 col-md-12 col-lg-6 p-0 mb-3 mb-sm-3">
                        <h4 class="p-0 mb-0 mt-2 align-middle">Категория: Повара и поварята</h4>
                    </div>
                </div>
                <div class="col-md-12 border mb-3 py-1 pl-1 post-preview shadow">
                    <img src="images/larry-small.jpeg" alt="Fat Larry" class="img-thumbnail rounded shadow-sm float-left mr-3">
                    <h4 class="mt-1">Fat Larry</h4>
                    <span class="d-block mb-2"><h5 class="d-inline">Категория:</h5> Повар</span>
                    <span class="d-block mb-2"><h5 class="d-inline">Предпочтения:</h5> Сытные мясные блюда и десерты.</span>
                    <span class="d-block mb-2"><h5 class="d-inline">Рецептов:</h5> <a href="index.html?user=Fat&nbsp;Larry">2</a></span>
                </div>
                <div class="col-md-12 border mb-3 py-1 pl-1 post-preview">
                    <img src="images/spices-small.jpeg" alt="Child of spices" class="img-thumbnail rounded shadow-sm float-left mr-3">
                    <h4 class="mt-1">Child of spices</h4>
                    <span class="d-block mb-2"><h5 class="d-inline">Категория:</h5> Повар</span>
                    <span class="d-block mb-2"><h5 class="d-inline">Предпочтения:</h5> Ароматные специи.</span>
                    <span class="d-block mb-2"><h5 class="d-inline">Рецептов:</h5> <a href="index.html?user=Child&nbsp;of&nbsp;spices">2</a></span>
                </div>
                <div class="col-md-12 border mb-3 py-1 pl-1 post-preview">
                    <img src="images/pepper-small.jpg" alt="Fragrant pepper" class="img-thumbnail rounded shadow-sm float-left mr-3">
                    <h4 class="mt-1">Fragrant pepper</h4>
                    <span class="d-block mb-2"><h5 class="d-inline">Категория:</h5> Ученик</span>
                    <span class="d-block mb-2"><h5 class="d-inline">Предпочтения:</h5> Блюда из овощей и фруктов.</span>
                    <span class="d-block mb-2"><h5 class="d-inline">Рецептов:</h5> <a href="index.html?user=Fragrant&nbsp;pepper">0</a></span>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mt-3 mb-0">
                        <li class="page-item disabled"><a class="page-link" href="#">Назад</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#">Вперёд</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>